body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.Game {
    width: 600px;
    height: 600px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell {
    border: 1px solid #000;
    background-color: #fff;
    grid-row-start: span 1;
    font-size: 150px;
    font-weight: bold;
}
.game-turn {
    text-align: center;
    font-size: 20px;
    color: #590808;
    padding: 10px;
}
.result {
    text-align: center;
    font-size: 20px;
    color: #590808;
    padding: 10px;
}
.menu-new-game {
    text-align: center;
    border: 1px solid #000;
    border-radius: 4px;
    background-image: linear-gradient(#fff, #ccc);
    text-decoration: none;
    padding: 4px 8px;
    width: 100px;
}
center {
    margin: 20px 0px;
    font-size: 20px;
}